<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rafaga</title>
    <script src="https://kit.fontawesome.com/52e276fb65.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <style>
        .shadow-answer{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .selected-answer{
            border: 2px solid rgb(120, 53, 15);
            background-color: rgb(217, 119, 6);
            color: white;
            font-weight: bold;
        }
        .pestana{
            border: 5px solid bisque;
        }
    </style>
</head>
<body class="bg-blue-100">

    <a href="/home">
        <i class="fas fa-arrow-left text-4xl mt-5 ml-5 mb-3"></i>
    </a>

    <aside id="finalPointsBanner" class="bg-white w-1/4 mx-auto p-4 text-center shadow-lg rounded-lg mt-5 hidden">
        ¡Obtuviste <span id="finalPoints">0</span> puntos!
    </aside>

    <% rafagas.forEach((rafaga, index) => {  %>
        <% if (index > 0) {  %>
            <main class="w-full md:w-9/12 mx-auto p-3 mt-5 bg-white rounded-lg pestana hidden" id=<%=`inputAnswer-${index}` %> data-index= <%=index%>  >
        <% } else {   %>
            <main class="w-full md:w-9/12 mx-auto p-3 mt-5 bg-white rounded-lg pestana" id=<%=`inputAnswer-${index}` %> data-index= <%=index%> >
        <% }  %>
                <h1 class="italic text-center text-xl mt-3"> <%= rafaga.description %>  </h1>
                <div class="p-3 my-4 w-9/12 mx-auto">
                    <%- include("../../components/inputAnswer", {problem: rafaga, length, index, problemAction}) -%>
                </div>
            </main>
    <% });  %>

</body>

<script>

    const rafagasArray = JSON.parse(`<%- JSON.stringify(rafagas) %>`);
    let answerSet = [];
    let correctRafagas = [];
    let final_Score = 0;

    const solutionSet = rafagasArray.map(r => {
        return r.solution;
    });
    
    $('.next-button').on('click', function(){
        const nextIndex = parseInt($(this).parent().parent().parent().parent().attr('data-index')) + 1;
        $(this).parent().parent().parent().parent().addClass('hidden');
        $(`#inputAnswer-${nextIndex}`).removeClass('hidden');
    });

    $('#submit').on('click', function(event) {
        console.log('subit rafaga')
        answerSet = rafagasArray.map((raf, i) => {
            const inputId = raf.type[0] === 'Abierta' ? 'single-answer' : 'multiple-answer';
            const theAnswer = $(`#inputAnswer-${i}`).find(`input#${inputId}-input`).val();
            return theAnswer;
        });

        rafagasArray.forEach((e, ii) => {
            if(solutionSet[ii] === answerSet[ii]){
                correctRafagas.push(e._id);
                final_Score += e.points;
            }
        });

        var info = {
            responses: correctRafagas
        };

        $.post("/submit-answer", info, function(data) {
            if (data) {
                console.log('rafaga submitted');
            }
        });

        correctRafagas = [];
        console.log('final score', final_Score);
        $('#finalPoints').text(final_Score);
        $('#finalPointsBanner').removeClass('hidden');
        $('main').addClass('hidden');
    });

</script>


</html>