<%- include("header") -%>
<link rel="stylesheet" href="dashboard.css">

<body>
  <section id="heading">
    <%- include("../components/heading") -%>
  </section>

  <section id="grades" class="border-t-4 border-color">
    <%- include("../components/grades") -%>
  </section>

  <section id="about-us">
    <%- include("../components/about") -%>
  </section>

  <section id="info">
    <%- include("../components/contact") -%>
  </section>

  <section id="questions">
    <%- include("../components/questions") -%>
  </section>

  <section id="contact">
    <%- include("../components/footer") -%>
  </section>

</body>

</html>