<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <style>
        body{
            background-image: url('img/math.jpg');
            -webkit-background-size: cover;
        }
        input::placeholder {
            color: #718096;
            font-weight: 300;
        }
        input:focus{
            outline: none;
        }

        .flex-100 {
            flex: 0 1 100%;
        }

        .max-width-form {
            max-width: 600px;
            padding-top: 20px;
        }
        div#tes{
            background-color: rgba(0,0,0, 0.6);
            border-radius: 3%;
        }
        label{
            color: white;
        }
    </style>
</head>
<body>

    <div class="container mx-auto md:mt-8 mt-5">
        <div class="mx-auto flex flex-wrap max-width-form text-gray-800" id="tes">
            <!-- 	form	 -->
            <div class="flex flex-100">
                <form class="flex-100" action="/signup" method="POST">
                    <!-- 		inputs		 -->
                    <% if (error) { %>
                    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-3" role="alert">
                        <strong class="font-bold">¡Cuidado!</strong>
                        <span class="block sm:inline">Parece ser que ya hay un usuario con este correo.</span>
                        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                        <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                        </span>
                    </div>
                    <% } %>

                    <div class="flex flex-100 mx-8">
                        <div class="flex-grow mr-2">
                            <label class="block mb-1 font-bold" for="">Nombre</label>
                            <input class="bg-gray-200 w-full rounded-lg py-3 px-3 shadow-inner" type="text" name="name" id="name" required value=<%=name%> >
                        </div>
                        <div class="flex-grow ml-2">
                            <label class="block mb-1 font-bold" for="">Apellido</label>
                            <input class="bg-gray-200 w-full rounded-lg py-3 px-3 shadow-inner" type="text" name="lastName", id="lastName" required value=<%=lastName%>>
                        </div>
                    </div>
                    <div class="flex flex-100  mx-8">
                        <div class="flex-grow mr-2 w-6/12">
                            <label class="block mb-1 font-bold " for="">Edad</label>
                            <input class="bg-gray-200 w-full rounded-lg py-3 px-3 shadow-inner" type="number" max="100" name="age", id="age" required value=<%=age%>>
                        </div>
                        <div class="flex-grow ml-2 w-6/12">
                            <label class="block mb-1 font-bold" for="">Grado Escolar</label>
                            <div>
                                <label class="inline-flex items-center">
                                  <input type="radio" class="form-radio" name="grade" value="primaria" checked>
                                  <span class="ml-2">Primaria</span>
                                </label>
                              </div>
                              <div>
                                <label class="inline-flex items-center">
                                  <input type="radio" class="form-radio" name="grade" value="secundaria">
                                  <span class="ml-2">Secundaria</span>
                                </label>
                              </div>
                        </div>
                    </div>
                    <div class="flex flex-100 mt-4  mx-8">
                        <div class="flex-grow mr-2">
                            <label class="block mb-1 font-bold" for="">Ciudad</label>
                            <select class="form-select block  h-12 w-full mt-1 bg-gray-200 rounded-lg shadow-inner" name="city", id="city" required>
                                <option value="">¿De dónde eres?</option>
                                <option value="Aguascalientes">Aguascalientes</option>
                                <option value="Baja California">Baja California</option>
                                <option value="Baja California Sur">Baja California Sur</option>
                                <option value="Campeche">Campeche</option>
                                <option value="Chiapas">Chiapas</option>
                                <option value="Chihuahua">Chihuahua</option>
                                <option value="CDMX">Ciudad de México</option>
                                <option value="Coahuila">Coahuila</option>
                                <option value="Colima">Colima</option>
                                <option value="Durango">Durango</option>
                                <option value="Estado de México">Estado de México</option>
                                <option value="Guanajuato">Guanajuato</option>
                                <option value="Guerrero">Guerrero</option>
                                <option value="Hidalgo">Hidalgo</option>
                                <option value="Jalisco">Jalisco</option>
                                <option value="Michoacán">Michoacán</option>
                                <option value="Morelos">Morelos</option>
                                <option value="Nayarit">Nayarit</option>
                                <option value="Nuevo León">Nuevo León</option>
                                <option value="Oaxaca">Oaxaca</option>
                                <option value="Puebla">Puebla</option>
                                <option value="Querétaro">Querétaro</option>
                                <option value="Quintana Roo">Quintana Roo</option>
                                <option value="San Luis Potosí">San Luis Potosí</option>
                                <option value="Sinaloa">Sinaloa</option>
                                <option value="Sonora">Sonora</option>
                                <option value="Tabasco">Tabasco</option>
                                <option value="Tamaulipas">Tamaulipas</option>
                                <option value="Tlaxcala">Tlaxcala</option>
                                <option value="Veracruz">Veracruz</option>
                                <option value="Yucatán">Yucatán</option>
                                <option value="Zacatecas">Zacatecas</option>
                            </select>
                        </div>
                    </div>
                    <div class="flex flex-100 mt-4 mx-8">
                        <div class="flex-grow mr-2">
                            <label class="block mb-1 font-bold" for="">Escuela</label>
                            <input class="bg-gray-200 w-full rounded-lg py-3 px-3 shadow-inner" type="text"  name="school", id="school" required value=<%=school%>>
                        </div>
                    </div>
                    <div class="flex flex-100 mx-8">
                        <div class="flex-grow mr-2">
                            <label class="block mb-1 font-bold" for="">Correo electrónico</label>
                            <input class="bg-gray-200 w-full rounded-lg py-3 px-3 shadow-inner" type="email"  name="email", id="email" required value=<%=email%>>
                        </div>
                    </div>
                    <div class="flex flex-100 mt-4 mx-8">
                        <div class="flex-grow mr-2">
                            <label class="block mb-1 font-bold" for="">Password</label>
                            <input class="bg-gray-200 w-full rounded-lg py-3 px-3 shadow-inner" type="password" name="password", id="password" required>
                        </div>
                    </div>
                    <div class="flex flex-100 mt-4 mx-8 mb-8">
                        <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded" type="submit">
                            ¡Vamos!
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</body>
</html>